APP_TITLE=Благотворительный фонд поддержки котиков QRKot
APP_DESCRIPTION=Фонд собирает пожертвования на различные целевые проекты: на медицинское обслуживание нуждающихся хвостатых,
на обустройство кошачьей колонии в подвале, на корм оставшимся без попечения кошкам — на любые цели, связанные с поддержкой кошачьей популяции.
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=vvvvv
FIRST_SUPERUSER_EMAIL=qqq@yandex.ru
FIRST_SUPERUSER_PASSWORD=qqqqq
TYPE = service_account
PROJECT_ID = ffrvgg
PRIVATE_KEY_ID = 3453fefdgfdfs
PRIVATE_KEY = "-----BEGIN PRIVATE KEY\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL = 232432ededssdf
CLIENT_ID = 123123123123
AUTH_URI = https://accounts.google.com/o/oauth2/auth
TOKEN_URI = https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL = https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL = https://www.googleapis.com/robot/v1/metadata/x509/qqqqq
UNIVERSE_DOMAIN = googleapis.com
EMAIL = qqqqqqq@gmail.com